<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="stylesheet" type="text/css" href="c3/c3.css">

<script src="d3/d3.min.js"></script>
<script src="c3/c3.min.js"></script>

<!--
`calm-chart`
Wrapper around the c3.js library for c-alm AG.

For full reference and en impression on what is possible visit: http://c3js.org/reference.html.

@demo demo/index.html
-->

<dom-module id="calm-chart">
   	<template>
	<style>
  		:host{
            display: block;
            width: 100%;
            height: 100%;
			position: relative;
        }
        .c3-line{
        stroke-width: var(--chart-stroke-width, 3px);
        }
        .c3-text{
            @apply(--chart-text);
        }
        .c3-grid{
            @apply(--chart-grid);
        }
        .c3-axis{
            @apply(--chart-axis);
        }
        .c3-axis-x{
            @apply(--chart-x-axis);
        }
        .c3-axis-y{
            @apply(--chart-y-axis);
        }
        .c3-axis-y2{
            @apply(--chart-y2-axis);
        }
        .c3-ygrid-line{
            @apply(--chart-y-grid-line);
        }
        .c3-circle{
            @apply(--chart-circle);
        }
        #calm-chart-wrapper{
			position: absolute !important;
            top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			max-height: 100% !important;
        }
		#errorMessage{
			height: 30px;
			position: absolute;
			top: calc(50% - 15px);
			text-align: center;
			right: 0;
			left: 0;
			color: #cccccc;
			font-size: 1.5em;
			font-style: italic;
		}
	</style>

	<template is="dom-if" if="[[!_chartGenerated]]">
		<p id="errorMessage">
			[[noDataMessage]]
		</p>
	</template>
    <div id="calm-chart-wrapper">

    </div>
   	</template>
</dom-module>
<script>
	(function(){
		var chartId = 0;
		Polymer({
	   		is: "calm-chart",
	        behaviors:[
	            Polymer.IronResizableBehavior
	        ],
	        listeners:{
	            'iron-resize': '_onResize'
	        },
			observers: [
				'_createChart(data.*)'
			],
	  		properties: {

				/**
				*	The complete data object. See http://c3js.org/reference.html for full documentation.
				*/
	            data: {
	                type: Object,
	                notify: true,
	                observer: '_createChart'
	            },

				/**
				*	The c3 chart object.
				*/
	            chart: {
	                type: Object,
	                notify: true
	            },

				/**
				*	If the chart has already been created.
				*/
	            _chartGenerated: {
	                type: Boolean,
	                value: false,
					notify: true
	            },

				/**
				*	The unique id of the chart.
				*/
				_chartId: {
					type: Number
				},

				/**
				*	Current width and height of the chart.
				*/
				_currentChartSize:{
					type: Object
				},

				/**
				*	If the chart needs to update it's values as soon as it's on the screen again.
				*/
				_dirty: {
					type: Boolean,
					value: false
				},

				noDataMessage: {
					type: String,
					value: "Keine Daten für die Grafik ausgewählt",
					notify: true
				},

				wrapWidth: {
					type: Number,
					value: 1000
				},

				_isNarrow: {
					type: Boolean,
					value: false
				},

				_initialLegendPosition: {
					type: String,
					value: ""
				}
	  		},

			/**
			*	Initialise variables.
			*/
	  		attached: function(e){
				this.async(function(){
					this._createChart();
				}, 100);
				chartId += 1;
				var className = 'calm-chart-id-'+chartId;
				this._chartId = chartId;
				this.toggleClass(className, true, this.$['calm-chart-wrapper']);
	  		},

			/**
			*	Unloads the data in the chart.
			*/
			unload: function(callback){
				if (this._chartGenerated){
					this.chart.unload({done: callback});
				}
				else{
					if (callback){
						callback();
					}
				}
			},

			destroy: function(){
				if (!this.chart) return;
				this._chartGenerated = false;
				this.chart = this.chart.destroy();
			},

			/**
			*	Check if the parent node is ready to display the chart.
			*/
	        _parentNodeIsReady: function(){
	            var chartNode = this.$['calm-chart-wrapper'];
	            return (chartNode.offsetWidth!=0 && chartNode.offsetHeight!=0);
	        },

			/**
			*	Create the chart or update it.
			*/
	        _createChart: function(){
	            if (this.data == null) return;
	            if (!this._parentNodeIsReady()){
					this._dirty = true;
					return;
				}
				if (this._chartGenerated){
					// Update chart.
					this.chart.load(this.data.data);
                    if (this.data.data.groups){
                        this.chart.groups(this.data.data.groups);
                    }
                    else{
                        this.chart.groups([]);
                    }
					if (this.data.grid && this.data.grid.y && this.data.grid.y.lines){
						this.chart.ygrids(this.data.grid.y.lines);
					}
					else{
						this.chart.ygrids.remove();
					}

				}
				else{
					// Generate chart.
					var className = 'calm-chart-id-'+ this._chartId;
					var node = Polymer.dom(this.root).querySelector("."+className);
		            this.data.bindto = node;
					this._currentChartSize = {width: node.offsetWidth, height: node.offsetHeight};
					this.data.size = this._currentChartSize;
		            this.chart = c3.generate(this.data);
		    		this.scopeSubtree(this.$['calm-chart-wrapper'], true);
		            this._chartGenerated = true;
					this._onResize();
				}
				this._dirty = false;
	        },

			/**
			*	Resize chart to match the parent node.
			*/
	        _onResize: function(){
				var div = this.$['calm-chart-wrapper'];
				if (div.offsetWidth == 0 || div.offsetHeight == 0) return;
				if (this.data){
					if (div.offsetWidth < this.wrapWidth && !this._isNarrow){
						this._isNarrow = true;
                        if (this.data.legend && this.data.legend.position){
                            this._initialLegendPosition = this.data.legend.position;
                        }
                        else{
                            this._initialLegendPosition = "bottom";
                        }
                        if (!this.data.legend){
                            this.data.legend = {};
                        }
						this.data.legend.position = "bottom";
						this.destroy();
					}
                    else if (div.offsetWidth < this.wrapWidth && this._isNarrow && this.data.legend.position !== "bottom"){
                        this._initialLegendPosition = this.data.legend.position;
						this.data.legend.position = "bottom";
						this.destroy();
                    }
					else if (div.offsetWidth > this.wrapWidth && this._isNarrow){
						this._isNarrow = false;
						this.data.legend.position = this._initialLegendPosition;
						this.destroy();
					}
				}
	            if (!this._chartGenerated || this._dirty){
	                this._createChart();
	            }
				else{
					if (div.offsetWidth != this._currentChartSize.width || div.offsetHeight != this._currentChartSize.height){
						this._currentChartSize.width = div.offsetWidth;
						this._currentChartSize.height = div.offsetHeight;
						this.chart.resize(this._currentChartSize);
					}
				}
	        },



            /**
            *   Experimental!
            *   Returns the value for the x axis where the user is currently zooming.
            */
            getZoom: function(){
                var zoomValues = this.chart.zoom();
                if (this.data.data.x){
                    var xKey = this.data.data.x;
                    // Find the column with the xKey as the first element.
                    var xColumn = this.data.data.columns.find(function(element){
                        return element[0] == xKey;
                    });
                    // Get element at zoom index.
                    zoomValues[0] = xColumn[Math.floor(zoomValues[0] + 1)];
                    zoomValues[1] = xColumn[Math.floor(zoomValues[1] + 1)];
                }
                return zoomValues;
            },


            unzoom: function(){
                if (this.chart){
                    this.chart.unzoom();
                }

            }
	   });
   })();
</script>
